sketch node-red/OnOff_wind_ligth weekly_ligth energy_load DB_energy UI.json
[{"id":"dd371735.612118","type":"tab","label":"light and wind module","disabled":false,"info":""},{"id":"6fddad02.f62304","type":"tab","label":"ToWater Module","disabled":false,"info":""},{"id":"20f5b48f.283ffc","type":"subflow","name":"Timer Settings (2)","info":"","category":"","in":[{"x":500,"y":320,"wires":[{"id":"dd09ea56.667bf8"}]}],"out":[{"x":740,"y":320,"wires":[{"id":"dd09ea56.667bf8","port":0}]}],"env":[{"name":"TimerNumber","type":"num","value":""},{"name":"PayloadON","type":"str","value":""},{"name":"PayloadOFF","type":"str","value":""}],"color":"#DDAA99"},{"id":"5011a0e9.a49ff","type":"mqtt-broker","name":"","broker":"192.168.100.16","port":"1880","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6ebdd0fe.aa309","type":"ui_tab","name":"Light and Wind Module","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a35ea247.fe5b4","type":"ui_tab","name":"To Water Module","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a3db9aaa.a17398","type":"ui_group","name":"prueba esp32","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b662ff46.2c09c","type":"ui_group","name":"Evening","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"5e390e1c.2cf2","type":"ui_group","name":"Default","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"7475a065.6e5cf8","type":"ui_group","name":"Setup Light Timer","tab":"6ebdd0fe.aa309","order":2,"disp":true,"width":6,"collapse":false},{"id":"2bebadcc.06ca12","type":"ui_group","name":"DC Energy Consumption","tab":"6ebdd0fe.aa309","order":3,"disp":true,"width":8,"collapse":false},{"id":"debd1cfd.d12ce","type":"ui_group","name":"Control Manual","tab":"6ebdd0fe.aa309","order":1,"disp":true,"width":"6","collapse":false},{"id":"817e75e8.3eba68","type":"ui_group","name":"Control Manual Bomba","tab":"a35ea247.fe5b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"1321528.b5b99ae","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"probando el led","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c22add74.84d1b","type":"MySQLdatabase","name":"","host":"192.168.1.10","port":"3306","db":"module_lightwind","tz":"","charset":"UTF8"},{"id":"a839e467.aaa5f8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83811706.5a3d68","type":"MySQLdatabase","name":"","host":"192.168.1.101","port":"3306","db":"temp_izmer","tz":""},{"id":"b47109d4.718cd8","type":"ui_group","name":"Group 4","tab":"6ebdd0fe.aa309","order":4,"disp":true,"width":6},{"id":"7b576566.cbe9dc","type":"ui_spacer","name":"spacer","group":"7475a065.6e5cf8","order":1,"width":4,"height":1},{"id":"3f3f4fb0.94d3c","type":"ui_spacer","name":"spacer","group":"2bebadcc.06ca12","order":2,"width":8,"height":1},{"id":"1b20b4bf.7657db","type":"ui_spacer","name":"spacer","group":"2bebadcc.06ca12","order":4,"width":8,"height":1},{"id":"dd09ea56.667bf8","type":"function","z":"20f5b48f.283ffc","name":"","func":"var x = env.get(\"TimerNumber\"); \nvar y = env.get(\"PayloadON\"); \nvar z = env.get(\"PayloadOFF\"); \n\nflow.set(\"$parent.Timer\"+x, x);\nflow.set(\"$parent.Payload\"+x+\"_on\", y);\nflow.set(\"$parent.Payload\"+x+\"_off\", z);\n\n\n\nmsg.payload = \"Your timer \" + x + \" has been set\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":320,"wires":[[]]},{"id":"d4e6eccc.43383","type":"mqtt in","z":"dd371735.612118","name":"","topic":"windligthmodule/volt","qos":"2","datatype":"auto","broker":"5011a0e9.a49ff","x":150,"y":60,"wires":[["78e61788.4131a8"]]},{"id":"78e61788.4131a8","type":"ui_gauge","z":"dd371735.612118","name":"","group":"2bebadcc.06ca12","order":1,"width":0,"height":0,"gtype":"gage","title":"volts","label":"units","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":20,"wires":[]},{"id":"fd63fea2.c943e","type":"mqtt in","z":"dd371735.612118","name":"","topic":"windligthmodule/ampere","qos":"2","datatype":"auto","broker":"5011a0e9.a49ff","x":150,"y":120,"wires":[["96d97a27.22ca78"]]},{"id":"96d97a27.22ca78","type":"ui_gauge","z":"dd371735.612118","name":"","group":"2bebadcc.06ca12","order":3,"width":0,"height":0,"gtype":"gage","title":"ampers","label":"units","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":100,"wires":[]},{"id":"e1048315.9b605","type":"mqtt out","z":"dd371735.612118","name":"","topic":"esp32/output","qos":"0","retain":"","broker":"5011a0e9.a49ff","x":470,"y":260,"wires":[]},{"id":"53588849.b73cc8","type":"ui_switch","z":"dd371735.612118","name":"","label":"Luz","tooltip":"","group":"debd1cfd.d12ce","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ton","onvalueType":"str","onicon":"","oncolor":"","offvalue":"toff","offvalueType":"str","officon":"","offcolor":"","x":270,"y":260,"wires":[["e1048315.9b605"]]},{"id":"b6756208.9beb7","type":"ui_switch","z":"dd371735.612118","name":"","label":"wind","tooltip":"","group":"debd1cfd.d12ce","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"won","onvalueType":"str","onicon":"","oncolor":"","offvalue":"woff","offvalueType":"str","officon":"","offcolor":"","x":270,"y":300,"wires":[["e1048315.9b605"]]},{"id":"98cc30fc.2a83d","type":"ui_text_input","z":"dd371735.612118","name":"week (on)","label":"on","tooltip":"","group":"7475a065.6e5cf8","order":5,"width":3,"height":1,"passthru":true,"mode":"time","delay":300,"topic":"ontime","x":440,"y":480,"wires":[["dd254a0a.d030f8"]]},{"id":"f212b9b9.65e5a8","type":"ui_text_input","z":"dd371735.612118","name":"week (off)","label":"off","tooltip":"","group":"7475a065.6e5cf8","order":6,"width":3,"height":1,"passthru":true,"mode":"time","delay":300,"topic":"offtime","x":440,"y":520,"wires":[["dd254a0a.d030f8"]]},{"id":"c8e3fb44.b1aaa8","type":"ui_text","z":"dd371735.612118","group":"7475a065.6e5cf8","order":3,"width":4,"height":1,"name":"week","label":"","format":"{{msg.payload.name}}","layout":"row-left","x":440,"y":380,"wires":[]},{"id":"10907655.b1c34a","type":"schedex","z":"dd371735.612118","name":"week","passthroughunhandled":false,"suspended":false,"lat":"52.1","lon":"5.1","ontime":"22:00","ontopic":"","onpayload":"ton","onoffset":0,"onrandomoffset":0,"offtime":"22:00","offtopic":"","offpayload":"toff","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":820,"y":420,"wires":[["27e75dd5.7c2762","4613b3cc.61ea8c"]]},{"id":"dd254a0a.d030f8","type":"function","z":"dd371735.612118","name":"on/off + info","func":"// input milliseconds since 00:00 in milliseconds\n// convert the milliseconds timestamp to hours:minutes\n\n// prefix numbers with 0\nNumber.prototype.pad = function(size) {\n    var s = String(this);\n    while (s.length < (size || 2)) {s = \"0\" + s;}\n    return s;\n}\n\nlet millisecondsSinceMidnight = msg.payload;\nlet secondsSinceMidnight =  Math.floor(millisecondsSinceMidnight/1000)\nlet minutesSinceMidnight =  Math.floor(millisecondsSinceMidnight/1000/60)\nlet hoursSinceMidnight =    Math.floor(millisecondsSinceMidnight/1000/60/60)\nlet hhString = hoursSinceMidnight.pad();\nlet mmString = Math.floor(minutesSinceMidnight%60).pad();\n// format timestamp\nlet timeStamp = hhString + \":\" + mmString\n\n// set msg\nif(msg.topic == \"ontime\"){\n    msg.payload = {\n        \"ontime\" : timeStamp\n    }\n}else if(msg.topic == \"offtime\"){\n    msg.payload = {\n        \"offtime\" : timeStamp\n    }\n}\n\n// set other message for getting info on Schedex\nmsgInfo={payload:\"info\", delay:100}; \n\nreturn [[msg,msgInfo]];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":480,"wires":[["10907655.b1c34a"]]},{"id":"27e75dd5.7c2762","type":"mqtt out","z":"dd371735.612118","name":"","topic":"esp32/output","qos":"","retain":"","broker":"5011a0e9.a49ff","x":1130,"y":420,"wires":[]},{"id":"842740fe.462d5","type":"inject","z":"dd371735.612118","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"info","payloadType":"str","x":830,"y":380,"wires":[["10907655.b1c34a"]]},{"id":"4613b3cc.61ea8c","type":"link out","z":"dd371735.612118","name":"Paddenstoek weekdayschema (schedex)","links":["e0213e44.4b37b"],"x":1075,"y":380,"wires":[]},{"id":"e0213e44.4b37b","type":"link in","z":"dd371735.612118","name":"","links":["4613b3cc.61ea8c"],"x":75,"y":480,"wires":[["c8e3fb44.b1aaa8","a8750c5a.78ed5","c0870635.01a9e8"]]},{"id":"6544c187.86f99","type":"ui_switch","z":"dd371735.612118","name":"week","label":"","tooltip":"","group":"7475a065.6e5cf8","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"suspended\":false}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"suspended\":true}","offvalueType":"json","officon":"","offcolor":"","x":440,"y":420,"wires":[["10907655.b1c34a"]]},{"id":"a8750c5a.78ed5","type":"function","z":"dd371735.612118","name":"prep switch","func":"// prep switch\nmsg.payload = { \"suspended\":msg.payload.suspended};\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":420,"wires":[["6544c187.86f99"]]},{"id":"72937f7f.d314a","type":"ui_template","z":"dd371735.612118","group":"7475a065.6e5cf8","name":"refresh","order":2,"width":2,"height":1,"format":"<md-button class=\"button save\" onClick=\"window.location.reload();\">refresh ⟳</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":450,"y":340,"wires":[[]]},{"id":"c0870635.01a9e8","type":"function","z":"dd371735.612118","name":"hh:mm -> ms","func":"// get timestamps in ms\nlet hhmmOntime = msg.payload.ontime;\nlet hhmmOfftime = msg.payload.offtime;\n\n// get hh and mm\nlet timesplitOntime = hhmmOntime.split(':');\nlet hhOntime = parseInt(timesplitOntime[0]);\nlet mmOntime = parseInt(timesplitOntime[1]);\n\nlet timesplitOfftime = hhmmOfftime.split(':');\nlet hhOfftime = parseInt(timesplitOfftime[0]);\nlet mmOfftime = parseInt(timesplitOfftime[1]);\n\n// convert hh and mm to ms and put it in the payload\nvar msgOntime =  {\"payload\": (hhOntime*60*60*1000)+(mmOntime*60*1000)};\nvar msgOfftime = {\"payload\": (hhOfftime*60*60*1000)+(mmOfftime*60*1000)};\n\n// return both values\nreturn [msgOntime, msgOfftime];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":220,"y":500,"wires":[["98cc30fc.2a83d"],["f212b9b9.65e5a8"]]},{"id":"e8e990b6.1277f","type":"mqtt out","z":"6fddad02.f62304","name":"","topic":"esp32/output","qos":"0","retain":"","broker":"5011a0e9.a49ff","x":510,"y":140,"wires":[]},{"id":"b07e7b30.7174f8","type":"ui_switch","z":"6fddad02.f62304","name":"","label":"Luz","tooltip":"","group":"817e75e8.3eba68","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ton","onvalueType":"str","onicon":"","oncolor":"","offvalue":"toff","offvalueType":"str","officon":"","offcolor":"","x":210,"y":100,"wires":[["e8e990b6.1277f"]]},{"id":"e24e7975.d12ea8","type":"ui_switch","z":"6fddad02.f62304","name":"","label":"wind","tooltip":"","group":"817e75e8.3eba68","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"won","onvalueType":"str","onicon":"","oncolor":"","offvalue":"woff","offvalueType":"str","officon":"","offcolor":"","x":210,"y":160,"wires":[["e8e990b6.1277f"]]},{"id":"5e926ee6.f37f4","type":"debug","z":"dd371735.612118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":200,"wires":[]},{"id":"717a6350.ce752c","type":"mysql","z":"dd371735.612118","mydb":"c22add74.84d1b","name":"","x":850,"y":200,"wires":[["5e926ee6.f37f4"]]},{"id":"899a640f.e8f6f8","type":"function","z":"dd371735.612118","name":"","func":"var v=msg.payload;\n\nmsg.topic = \"INSERT INTO `intake_dcenergy` (`volts`,`amperes`) VALUES (\" + v + \");\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":200,"wires":[["f89b0b96.d458d8"]]},{"id":"f89b0b96.d458d8","type":"delay","z":"dd371735.612118","name":"datos a guardar","pauseType":"rate","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":600,"y":200,"wires":[["717a6350.ce752c"]]},{"id":"468492e6.1d135c","type":"mqtt in","z":"dd371735.612118","name":"","topic":"windligthmodule/all","qos":"0","datatype":"utf8","broker":"5011a0e9.a49ff","x":150,"y":200,"wires":[["899a640f.e8f6f8"]]},{"id":"3b87dcb7.24acf4","type":"mysql","z":"dd371735.612118","mydb":"c22add74.84d1b","name":"","x":530,"y":640,"wires":[["9ce86e8.c37c49"]]},{"id":"9ce86e8.c37c49","type":"ui_table","z":"dd371735.612118","group":"2bebadcc.06ca12","name":"","order":5,"width":8,"height":7,"columns":[],"outputs":0,"cts":false,"x":760,"y":640,"wires":[]},{"id":"eefba826.393a48","type":"ui_button","z":"dd371735.612118","name":"","group":"2bebadcc.06ca12","order":6,"width":0,"height":0,"passthru":false,"label":"DB","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"SELECT * FROM intake_dcenergy","x":290,"y":640,"wires":[["3b87dcb7.24acf4"]]}]